<!-- ##### Single Widget ##### -->
<div class="widget catagory mb-50">
    <!-- Widget Title -->
    <h6 class="widget-title mb-30">Catagories</h6>

    <!--  Catagories  -->
    <div class="catagories-menu">
        <ul>
            <li class="active"><a href="#">Sofa</a></li>
            <li><a href="#">Chair</a></li>
            <li><a href="#">Office Chair</a></li>
            <li><a href="#">Lounge Chair</a></li>
            <li><a href="#">Table</a></li>
            <li><a href="#">Dining Table</a></li>
            <li><a href="#">Bean Bag</a></li>
        </ul>
    </div>
</div>