<!-- ##### Single Widget ##### -->
<div class="widget catagory mb-50">
    <!-- Widget Title -->
    <h6 class="widget-title mb-30">Catagories</h6>

    <!--  Catagories  -->
    <div class="catagories-menu">
        <ul>
            <li id="sofa"><a href="shop-sofa.html">Sofa</a></li>
            <li id="chair"><a href="shop-chair.html">Chair</a></li>
            <li id="ofchair"><a href="shop-office-chair.html">Office Chair</a></li>
            <li id="lchair"><a href="shop-loung-chair.html">Lounge Chair</a></li>
            <li id="table"><a href="#">Table</a></li>
            <li id="dtable"><a href="#">Dining Table</a></li>
            <li id="bbag"><a href="#">Bean Bag</a></li>
        </ul>
    </div>
</div>